body{
	background: #3D7EAA;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFE47A, #3D7EAA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#boxes{
	width: 80%;
	margin: auto;
	text-align: center;
	background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);
}

#btns{
	padding: 20px;
	background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);
	margin-bottom: 20px;
}
#btns button{
	background: -webkit-linear-gradient(to right, #FFE47A, #3D7EAA);
	padding: 5px 10px;
	border: 0;
	border-radius: 100%;

}
#btns i{
	font-size: 30px;
	

}
#btns .fa-play-circle{
	color: green;
}
#btns .fa-pause-circle{
	color: red;
}

.box{
	position: relative;
	width: 100px;
	height: 100px;
	margin: 4px;
	display: inline-block;
}

h1{
	
}


.red{
	background-color:  red;
}
.blue{
	background-color: blue;
}
.green{
	background-color: green;
}
.yellow{
	background-color: rgb(255, 218, 7);
}
